@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabinet stomatologiczny</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg flex-md-nowrap shadow">

        <div class="container">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                DentOptimal
            </a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<partial name="_LoginPartial" />*@
        <div class="navbar-nav flex-grow-1 text-nowrap">



            <div class="nav-item">
                <a class="nav-link px-3" asp-area="" asp-controller="Home" asp-action="Index">KLINIKA</a>
            </div>
            <div class="nav-item">
                <a class="nav-link px-3" asp-area="" asp-controller="Home" asp-action="Offer">OFERTA</a>
            </div>
            <div class="nav-item">
                <a class="nav-link px-3" asp-area="" asp-controller="Home" asp-action="Price">CENNIK</a>
            </div>
            <div class="nav-item">
                <a class="nav-link px-3" asp-area="" asp-controller="Home" asp-action="Contact">KONTAKT</a>
            </div>
            <div class="nav-item">
                <a class="nav-link px-3" asp-area="" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
            </div>
            <div class="nav-item">
                <a class="nav-link px-3" asp-area="" asp-controller="customers" asp-action="Index">Klienci</a>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {


                <div class="nav-item">
                    <a class="nav-link px-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Moje konto</a>
                </div>
                <div class="nav-item text-nowrap">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link px-3">Wyloguj się</button>
                    </form>

                </div>
            }
            else
            {


                <div class="nav-item">
                    <a class="nav-link px-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
                <div class="nav-item ">
                    <a class="nav-link px-3" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>

            }


        </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Nazwa gabinetu - stopka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
