@using den_office.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabinet stomatologiczny</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />

    <link rel="stylesheet" href="~/css/navbar.css" />

    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.0.custom/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>


</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg flex-md-nowrap shadow">

        <div class="container">

            @*<partial name="_LoginPartial" />*@
            <div class="navbar-nav flex-grow-1 text-nowrap">


                <div class="nav-item">
                    <a class="nav-link px-4 pt-3" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" width="30" height="30" class="" alt="">
                        DentOptimal
                    </a>
                </div>
                <ul class="nav-item">
                    <li class="nav-item dropdown">

                        <a class="nav-link px-4 pt-3 dropdown-toggle" href="#" id="1" data-bs-toggle="dropdown" aria-expanded="false">KLINIKA</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item px-3" asp-area="" asp-controller="Home" asp-action="About">O klinice</a></li>
                            <li><a class="dropdown-item px-3" asp-area="" asp-controller="Home" asp-action="Staff">Personel</a></li>
                            <li><a class="dropdown-item px-3" asp-area="" asp-controller="Home" asp-action="Gallery">Galeria</a></li>
                            <li><a class="dropdown-item px-3" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
                            <li><a class="dropdown-item px-3" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a></li>
                        </ul>
                    </li>



                </ul>
                <div class="nav-item">
                    <a class="nav-link px-4 pt-3" asp-area="" asp-controller="Home" asp-action="Offer">OFERTA</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link px-4 pt-3" asp-area="" asp-controller="Home" asp-action="Price">CENNIK</a>
                </div>
                @if (User.IsInRole("Admin"))
                {

                    <div class="nav-item">
                        <a class="nav-link px-4 pt-3" asp-area="" asp-controller="Reservations" asp-action="Index">Panel zarządzania</a>
                    </div>
                }
                @if (SignInManager.IsSignedIn(User))
                {


                    <div class="nav-item">
                        <a class="nav-link px-4 pt-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Moje konto</a>
                    </div>
                    <div class="nav-item text-nowrap">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link px-4 pt-3">Wyloguj się</button>
                        </form>

                    </div>
                }
                else
                {


                    <div class="nav-item">
                        <a class="nav-link px-4 pt-3" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
                    </div>
                    <div class="nav-item ">
                        <a class="nav-link px-4 pt-3" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
                    </div>

                }
            </div>
        </div>
    </header>
















    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Nazwa gabinetu - stopka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
