@model IEnumerable<den_office.Models.Reservation>
@{
    ViewData["Title"] = "CreateResFinal";
}

<h1>CreateResFinal</h1>

<h4>Reservation</h4>
<hr />

            @foreach (var item in Model)
            {

                @await Html.PartialAsync("PartialViewCreate", item)
            }

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

