<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<body>
    <h1 class="text-center" style="margin-top:50px;margin-bottom:50px; text-decoration: underline orange 3px;">O nas</h1>
    <p class="text-center">
        Nasz gabinet od wielu lat dysponuje doświadczoną kadrą lekarską z poważanymi na całym świecie certyfikatami,<br />
        najnowszymi metodami leczenia oraz nowoczenym gabinetem. Nasi pacjenci objęci są troską i profesjonalizmem.<br />
        Gabinet prowadzi szeroki wachlarz usług. Każda Państwa wizyta będzie miłym spotkaniem.
    </p>
    <h1 class="text-center" style="margin-top:70px;margin-bottom:50px; text-decoration: underline orange 3px;">Nasz personel</h1>
    <img src="~/images/junior-reis-rE6FqsyyqwM-unsplash.jpg" class="center" width="908" height="600" />
    <h1 class="text-center" style="margin-top:80px;margin-bottom:100px; text-decoration: underline orange 3px;">Galeria</h1>
    <div>
        <img src="~/images/yusuf-belek-gHdVUGAJYGo-unsplash.jpg" width="425" height="425" />
        <img src="~/images/atikah-akhtar-XJptUS8nbhs-unsplash.jpg" width="425" height="425" />
        <img src="~/images/enis-yavuz-PGNshUfOuzs-unsplash.jpg" width="425" height="425" />
    </div>
    <h1 class="text-center" style="margin-top:80px;margin-bottom:80px; text-decoration: underline orange 3px;">Kontakt</h1>
    <div class="text-center">
        <a>00-000 Wrocław</a><br />
        <a>ul. Wrocławska 1</a><br /><br />
        <a>Tel. 000-000-000</a><br />
        <a>E-mail: <br />dent@optimal.com</a>
    </div>
    <div class="text-center" style="margin-top:50px">


        <a>
            Godziny otwarcia:
        </a><br />
        <a>
            Pon: 10:00-17:00
        </a><br />

        <a>
            Wt: 10:00-17:00
        </a><br />
        <a>
            Śr: 10:00-17:00
        </a><br />
        <a>
            Czw: 10:00-17:00
        </a><br />
        <a>
            Sob: Nieczynne
        </a><br />
        <a>
            Nd: Nieczynne
        </a><br />


















    </div>

</body>