@{
    Layout = "_LayoutSidebar";
}
<head>
    <script type="text/javascript">
        function test() {
            document.getElementById("dat1").disabled = true;
            alert("AAA");
        }
    </script>
</head>
<body>
    <script>
        test();
    </script>
</body>
