@model IEnumerable<den_office.ViewModels.CustomersViewModel>
@{
    ViewBag.Title = "Index";
}
  
<a>afegrffg</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>

                            <th scope="col">Username</th>

                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    1.
                                </td>
                                <td>
                                    @user.UserName

                                </td>
                                <td>
                                    @user.Email
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>

